.accountHub{
  min-height: 200px;

  padding: 10px;
  gap: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accountHub h1{
  text-align: center;
  
}

.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding-left: 10px;
}

.profilePicture{
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  aspect-ratio: 1/1;
  &:hover{
    opacity: .8;
    cursor: pointer;
  }
}
.profilePicture img{
  width: 100%;
}
.username{
  font-family: "Exo 2";
  font-size: 1.4rem;
  font-weight: 600;
}


 .roomButtons{
  display: flex;
  flex-direction: column;
 }
 .roomButtons > button{
  padding: 2px;
  font-size: 1.4rem;
  font-family: "Exo 2";
  font-weight: 600;
  background-color: rgb(230, 248, 248);

  border: 1px solid gray;
  margin: 1px;

  &:hover{
    filter: invert();
  }
  &:active{
    transform: scale(.97);
  }
 }
 .roomButtons > button:nth-of-type(3){
  font-size: 1.1rem;
  background-color: rgb(255, 170, 170);
  margin-top: 3px;
 }

 .toggleAppearance{

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 400;
 }