.accountHub{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2px;
}

.header{
  display: flex;
}

.username{
  flex: 1;
  font-size: 1.1rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.changeImage{
  &:hover{
    opacity: .8;
    cursor: pointer;
  }
}

.createRoom{
} 
.toggleAppearance{
  /* border: 1px solid;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  background-color: white;
  transition: background-color .1s, border .1s;

  position: absolute;
  right: 30px;
  top: 5px; */
}
/* .toggleAppearance span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid;
  background-color: white;
  transition: transform .1s;
}
.toggleAppearance input{
  opacity: 0;
} */