.accountHub{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2px;
  position: relative;
}

.accountHub h1{
  text-align: center;
  
}

.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding-left: 10px;
}

.profilePicture{
  border: 1px solid rgba(0, 0, 0, 0.278);
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  aspect-ratio: 1/1;
  &:hover{
    opacity: .8;
    cursor: pointer;
  }
}
.profilePicture img{
  width: 100%;
}
.username{
  font-family: "Exo 2";
  font-size: 2rem;
  font-weight: 600;
}


 .roomButtons{
  display: flex;
  flex-direction: column;
 }
 .roomButtons > button{
  padding: 2px;
  font-size: 1.4rem;
  font-family: "Exo 2";
  font-weight: 600;
  background-color: rgb(230, 248, 248);

  border: 1px solid gray;
  margin: 1px;

  &:hover{
    filter: invert();
  }
  &:active{
    transform: scale(.97);
  }
 }

 .toggleAppearance{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 400;
 }