.chooseImage{
  max-width: 500px;
  border-radius: 15px;
  border: 5px solid;
  background-color: rgb(46, 49, 54);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 500;
} 

.chooseImage h1:first-of-type{
  font-family: "Exo 2";
  font-size: 1.4rem;
  color: white;
  text-align: center;
  margin: 5px;
}

.scrollableImages{
  flex: 1;
  height: 100%;
  border: 1px solid rgba(224, 218, 208,.5);
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.imgContainer{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px dotted rgba(255, 255, 255, 0.3);
  &:hover{
    cursor: pointer;
    opacity: .8;
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.04);
  }
}
.imgContainer img{
  width: 100%;
  object-fit: cover;
}

.uploadImageBtn{
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(227, 251, 220, 0.742);
  padding: 6px;
  font-size: 1.2rem;
  font-family: "Exo 2";
  font-weight: bold;
  &:hover{
    cursor: pointer;
    opacity: .85;
  }
}

.selectImageArea{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(228, 223, 216);
  width: 400px;
  z-index: 2000;
  border-radius: 10px;
  border: 3px solid;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewport{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 3px solid;

  position: relative;
  overflow: hidden;
}
.viewport canvas{
  position: absolute;
  top: 0;
  left: 0;
  }
.selectImageArea button:nth-of-type(1){
  margin: 40px;
  padding: 5px;
  background-color: aliceblue;
  font-weight: bold;
  font-size: 1.2rem;

  &:hover{
    opacity: .85;
  }
}

.exit{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
}