.darkMode{
  color: white;
}
.createRoom{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  background-color: rgb(145, 182, 242);
  padding: 10px;
  border-radius: 10px;
  color: black;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
} 

.createRoom h2{
  text-align: center;
}
.escape{
  position: absolute;
  top: -17px;
  right: -17px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.createRoom input{
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: rgb(217, 232, 255);
  padding: 20px 5px;

  font-family: "Daruma";
  font-size: 1.8rem;
  text-align: center;
  &:focus{ 
    outline: none;
  }
}
.enterPasswordBtn{
  padding: 4px;
  font-weight: 600;
  font-size: .9rem;
  background-color: rgb(244, 251, 247,.5);
  border: none;
  margin-top: 5px;

  &:hover{
    opacity: .7;
  }
}

.createPassword section{
  position: relative;
}
.createPassword button{
  font-weight: bold;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  background-color: rgb(205, 205, 205);
  height: 100%;
  opacity: .7;
  &:hover{
    opacity: .9;
  }
}

.createRoomBtn{
  padding: 4px;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  border: none;
  margin-top: 10px;
  padding: 5px;

  &:hover{
    opacity: .7;
  }
}