.createRoom{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  border: 1px solid;
  background-color: rgb(50, 110, 207);
  padding: 30px;
  border-radius: 10px;
  z-index: 100;
} 

.escape{
  position: absolute;
  top: -17px;
  right: -17px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}