.createRoom{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  background-color: rgb(145, 182, 242);
  padding: 10px;
  border-radius: 10px;

  z-index: 1000;
} 

.createRoom h2{
  text-align: center;
}
.escape{
  position: absolute;
  top: -17px;
  right: -17px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.createRoom input{
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: rgb(217, 232, 255);
  padding: 20px 5px;

  font-family: "Daruma";
  font-size: 1.8rem;
  border-bottom: 1px solid ;
  text-align: center;
  &:focus{ 
    outline: none;
  }
}
