

.joinRoom{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(145, 182, 242);
  padding: 10px;
  border-radius: 10px;

  z-index: 1000;
} 
.joinRoom input{
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: rgb(217, 232, 255);
  padding: 20px 5px;

  font-family: "Daruma";
  font-size: 1.8rem;
  text-align: center;
  &:focus{ 
    outline: none;
  }
}
.joinRoom h2{
  text-align: center;
}
.escape{
  position: absolute;
  top: -17px;
  right: -17px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.joinInput section{
  padding: 5px 10px;
  height: 50px;
  display: flex;
  gap: 5px;

  background-color: rgba(230, 234, 237, 0.213);
  border-radius: 10px;

  &:hover{
    cursor: pointer;
    background-color: rgba(230, 234, 237, 0.513);
  }
  &:focus{
    background-color: rgba(230, 234, 237, 0.513);
    border: 1px solid rgba(0, 0, 0, 0.593);
    outline: none;
  }

}
.joinInput section span{
  flex: 1;
  width: 35px;
  padding: 5px;
  border-bottom: 1px solid;
}
.fullSquare{
  background-color: white;
  border-radius: 5px; 

  font-size: 2rem;
  font-family: "Daruma";
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.409);

}


.existingRooms ul{
  padding: 4px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 150px;

  scrollbar-width: thin;
  scrollbar-color: white transparent;

  display: flex;
  flex-direction: column;
  gap: 3px;
}
.existingRooms ul li{
  background-color: rgb(249, 237, 211);
  padding: 5px;
  border-radius: 2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: "Exo 2";



  &:hover{
    cursor: pointer;
    filter: invert();
  }

  & :nth-child(1){
    font-weight: 800;
    font-size: 1.4rem; 
    text-overflow: ellipsis;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
  }

  & :nth-child(2){
    opacity: .8;
  }
}



.enterPassword{
  padding: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.enterPassword h2{
  font-size: 1.2rem;
  margin: 1px 0px;
}

.enterPassword section{
  position: relative;
}
.enterPassword section button{
  font-weight: bold;
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100%;
  right: 0;

  background-color: rgb(205, 205, 205);
  opacity: .7;
  &:hover{
    opacity: .9;
  }
}

.errorJoiningMsg{
  display: block;

  color: rgb(169, 12, 12);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.joinRoomBtn{
  padding: 4px;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: rgb(220, 240, 255);
  border: none;
  border-radius: 3px;
  padding: 5px;

  display: block;
  margin: 5px auto;

  &:hover{
    opacity: .7;
  }
}