.darkMode{
  background-color: rgb(162, 160, 160);
}

.columnWrapper{
  display: flex;
  flex-direction: column;
}

.columnWrapper > h1{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(248, 244, 244);
  border-bottom: 1px solid gray;

  font-family: "Daruma";
}
h1.darkMode{
  background-color: rgb(49, 49, 49);
  color: white;
}
.siteWrapper{
  display: flex;
}
.pageContainer{
  flex: 1;
}

.callNotification{
  position: fixed;
  top: 0;
  right: 0;
  border: 2px solid;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  z-index: 2000;
}