.darkMode{
  background-color: rgb(162, 160, 160);
}

.columnWrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.columnWrapper > h1{
  margin: 0;
  padding-inline: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(248, 244, 244);
  border-bottom: 1px solid gray;

  font-family: "Daruma";
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  & :nth-child(1){
    opacity: .6;
    font-size: 1.5rem;
    font-family: "Exo 2";
  }
  & :nth-child(3){
    background-color: rgb(251, 175, 166);
    font-family: "Exo 2";
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.861);
    &:hover{
      background-color: rgb(233, 214, 214);
      color: black;
    }
  }
}


h1.darkMode{
  background-color: rgb(49, 49, 49);
  color: white;
}
.siteWrapper{
  flex: 1;
  display: flex;
}
.pageContainer{
  flex: 1;
}

.callNotification{
  position: fixed;
  top: 0;
  right: 0;
  border: 2px solid;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  z-index: 2000;
}