.darkMode{
  background-color: rgb(47, 49, 55);
  color: rgb(255, 255, 255);
}

.sidePanel{
  display: flex;
  position: relative;
}
.sidePanelMain{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sidePanelHandle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  left: 100%;
  display: flex;
  align-items: center;
}
.features{
  display: flex;
  flex-direction: column; 
  flex: 1;

  gap: 5px;
}
.features > button{
  flex: 1;
  font-size: 2.2rem;
  background-color: rgb(247, 247, 237);
  
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.268);
  border-radius: 10px;
  box-shadow: 10px 0 30px 5px inset rgba(21, 5, 71, 0.149);
  margin: 5px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Exo 2";
  font-weight: bold;

  &:hover{
    box-shadow: 10px 0 30px 8px inset rgba(21, 5, 71, 0.2);
  }
  &:active{
    box-shadow: 10px 0 30px 8px inset rgba(21, 5, 71, 0.3);
  }
}


.darkMode .features > button{
  background-color: rgb(228, 229, 230);
}
