.sidePanel{
  display: flex;
}
.sidePanelMain{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sidePanelHandle{
  position: relative;
  border: 1px solid;
}
.sidePanelHandle img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.features{
  display: flex;
  flex-direction: column;
  flex: 2;
}
.features > button{
  flex: 1;
  font-size: 1.2rem;
}

