.sidePanel{
  display: flex;
  position: relative;
}
.sidePanelMain{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sidePanelHandle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  border: 1px solid;
  left: 100%;
  display: flex;
  align-items: center;
}
.features{
  display: flex;
  flex-direction: column;
  flex: 2;
}
.features > button{
  flex: 1;
  font-size: 1.2rem;
}

