
.chatPage{
  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;

  transition: color .1s, background-color .1s;
}
.title{
  border-bottom: 1px solid;
  margin: 0; 
  text-align: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.5rem;

  position: relative;
}

.chatDisplay{
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}

.toggleAppearance{
  border: 1px solid;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  background-color: white;
  transition: background-color .1s, border .1s;

  position: absolute;
  right: 30px;
  top: 5px;
}
.toggleAppearance span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid;
  background-color: white;
  transition: transform .1s;
}
.enableDarkMode{
  background-color: rgb(29, 5, 136);
  border: 1px solid white;
}
.enableDarkMode span{
  transform: translateX(100%);
}
.toggleAppearance input{
  opacity: 0;
}

.messageContainer{
  display: flex;
  gap: 3px;
  padding-inline: 5px;
}
.messageLeft{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
.timestamp{
  font-size: .7rem;
  opacity: .7;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 80px;
}
.messageRight{
  display: flex;
  flex-direction: column;
}
.username{
  margin-block: 5px;
  font-weight: bold;
}
.textContainer{
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.message{
}

.chatHub{
  border: 1px solid;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 3px 30px;
}
.fileInput{
  display: inline-block;
  border: 1px solid ;
  border-radius: 20px;
  background-color: rgb(221, 218, 218);
  width: 40px;
  height: 40px;
  justify-content: center;

  position: relative;
}
.fileInput img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.chatInput{
  border: none;                 
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgb(142, 186, 206) ;
  flex: 1;
  height: 100%;
  resize: none;

  font-size: 1.2rem;
  letter-spacing: 3px;
}
.chatInput:focus{
  border: none;
}
.chatHub button{
  height: 100%;
  background-color: white;
}