.darkMode{
  background-color: rgb(33, 36, 42);
  color: rgb(255, 255, 255);
}
.chatPage{
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex: 1;
}
.title{
  padding: 5px;
  box-shadow: 2px 5px 10px rgba(112, 112, 113, 0.395);
  margin: 0; 
  height: 100px;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: end;
}



.chatDisplay{
  flex: 1;
  font-family: "Exo 2";
  overflow-y: auto; 
  scrollbar-width: none;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dateHeader{
  padding: 0px 15px 10px 15px;
  font-weight: 500;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  gap: 10px;
}
.dateHeader span:nth-of-type(1){
  border-bottom: 1px dotted;
  opacity: .2;
  flex-basis: 5px;
} 
.dateHeader span:nth-of-type(2){
  border-bottom: 1px dotted;
  opacity: .2;
  flex: 1;
}
.groupContainer{
  display: flex;
  gap: 3px;
  padding-inline: 5px;
}

.groupLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timestamp{
  font-size: .7rem;
  opacity: .7;
}
.groupLeft img{
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1/1;
}

.groupRight{
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username{
  font-weight: 600;
  font-size: 1.02rem;
}
 
.messages{
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.message{
  position: relative;
  padding-right: 35px;
}
.message > a img{
  height: 100px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.072);
}
.message > a audio{
  height: 50px;

}
.message > a embed,.message > video{
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.072);
}
.message button{
  background-color: aliceblue;
  border: 1px solid;
}
.message input{
  width: 100%;
  border: 1px solid rgba(29, 28, 28, 0.289);
  border-radius: 5px;
  padding: 3px;
}
.message input:focus{
  outline: 1px solid forestgreen;
}
.message:hover{
  background-color: rgb(247, 247, 247);
}
.darkMode .message:hover{
  background-color: rgb(50, 53, 60);
}
.message.show{
  background-color: rgb(247, 247, 247);
}
.darkMode .message.show{
  background-color: rgb(50, 53, 60);

}
.message:hover .toggleOptions img{
  display: block;
}

.toggleOptions img{
  position: absolute;
  top: 0;
  left: 100%;
  transform: translatex(-30px);
  display: none;
}
.toggleOptions img.show{
  display: block;
}
.options{
  position: absolute;

  top: 0;
  left: 100%;
  transform: translate(-50px,4px);

  padding: 0;
  width: 55px;
  text-align: center;
  list-style: none;
  font-size: 1.1rem;
  border-radius: 5px;

  
  color: white;
  background-color: rgb(13, 53, 17);
}
.options li{
  width: 100%;
  border-top: 1px solid wheat;
}
.options li:hover{
  cursor: pointer;
  color: rgb(6, 40, 17);
  background-color: antiquewhite;
}




.chatHub{
  border: 1px solid;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  /* padding: 3px 30px; */
}
.fileInput{
  display: inline-block;
  border: 1px solid ;
  border-radius: 20px;
  background-color: rgb(221, 218, 218);
  width: 40px;
  height: 40px;
  justify-content: center;

  position: relative;
}
.fileInput img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.chatInput{
  border: none;                 
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgb(142, 186, 206) ;
  flex: 1;
  height: 100%;
  resize: none;

  font-size: 1.2rem;
  letter-spacing: 3px;
}
.chatInput:focus{
  border: none;
}
.chatHub button{
  height: 100%;
  background-color: white;
} 