.darkMode{
  background-color: rgb(33, 36, 42);
  color: rgb(255, 255, 255);
}
.chatPage{
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex: 1;
  &:focus{
    outline: none;
  }
}

.title{
  padding: 5px;
  box-shadow: 2px 5px 10px rgba(112, 112, 113, 0.395);
  margin: 0; 
  height: 100px;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: end;
}



.chatDisplay{
  flex: 1;
  font-family: "Exo 2";
  overflow-y: auto; 
  scrollbar-width: none;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  outline: 1px dotted rgba(0, 0, 0, 0.308);
  outline-offset: -10px;
  border-radius: 20px;

}

.dateHeader{
  padding: 0px 15px 10px 15px;
  font-weight: 500;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  gap: 10px;
}
.dateHeader span:nth-of-type(1){
  border-bottom: 1px dotted;
  opacity: .2;
  flex-basis: 5px;
} 
.dateHeader span:nth-of-type(2){
  border-bottom: 1px dotted;
  opacity: .2;
  flex: 1;
}
.groupContainer{
  display: flex;
  gap: 3px;
  padding-inline: 5px;
}

.groupLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timestamp{
  font-size: .7rem;
  opacity: .7;
}
.groupLeft img{
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1/1;
}

.groupRight{
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username{
  font-weight: 600;
  font-size: 1.02rem;
}
 
.messages{
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.preview{
  border: 1px solid rgba(119, 119, 118, 0.155);
  padding: 20px;
  background-color: rgba(162, 161, 161, 0.07);
  border-radius: 10px;
  position: relative;
}
.preview > button{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 40%;
  text-align: center;
  border: 1px solid;
  background-color: rgb(223, 115, 115);
  padding: 0;
  font-weight: bolder;
  &:hover{
    opacity: .5;
  }
}
.message{
  position: relative;
  padding-right: 35px;
}
.message > a img{
  height: 100px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.072);
}
.message > a audio{
  height: 50px;

}
.message > a embed,.message > video{
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.072);
}
.message button{
  background-color: aliceblue;
  border: 1px solid;
}
.message input{
  width: 100%;
  border: 1px solid rgba(29, 28, 28, 0.289);
  border-radius: 5px;
  padding: 3px;
}
.message input:focus{
  outline: 1px solid forestgreen;
}
.message:hover{
  background-color: rgb(247, 247, 247);
}
.darkMode .message:hover{
  background-color: rgb(50, 53, 60);
}
.message.show{
  background-color: rgb(247, 247, 247);
}
.darkMode .message.show{
  background-color: rgb(50, 53, 60);

}
.message:hover .toggleOptions img{
  display: block;
}

.toggleOptions img{
  position: absolute;
  top: 0;
  left: 100%;
  transform: translatex(-30px);
  display: none;
}
.toggleOptions img.show{
  display: block;
}
.options{
  position: absolute;

  top: 0;
  left: 100%;
  transform: translate(-50px,4px);

  padding: 0;
  width: 55px;
  text-align: center;
  list-style: none;
  font-size: 1.1rem;
  border-radius: 5px;

  
  color: white;
  background-color: rgb(13, 53, 17);
  z-index: 1000;
}
.options li{
  width: 100%;
  border-top: 1px solid wheat;
}
.options li:hover{
  cursor: pointer;
  color: rgb(6, 40, 17);
  background-color: antiquewhite;
}




.chatHub{
  display: flex;
  flex-direction: column;
}
.miniFileView{
  display: flex;
  gap: 10px;

  align-items: center;
  overflow-x: auto;
  margin: auto;
  max-width: 800px;
  scrollbar-width: none;
}

.chatHubMain{
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* padding: 3px 30px; */
}
.fileInput{
  display: inline-block;
  width: 50px;
  height: 50px;

  justify-content: center;
  position: relative;

  border-radius: 20px;
  &:hover{
    cursor: pointer;
    background-color: rgba(148, 181, 210, 0.137);
    filter: invert(.7);
  }
}
.fileInput img{
  width: 100%;
}

.chatInput{
  border: none;                 
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgba(142, 186, 206, 0.185) ;
  flex: 1;
  resize: none;
  max-width: 60%;

  font-size: 1.2rem;
  letter-spacing: 2px;

  &:focus{
    outline: none;
    box-shadow: 0 0 2px 2px rgba(98, 155, 182, 0.575) ;
  }
}
.chatHubMain button{
  background-color: transparent;
  border: none;
} 
.chatHubMain button img{
  transition: transform .05s;
  &:hover{
    filter: invert(.2);
    transform-origin: center;
    transform: scale(1.1);
  }
} 