.darkMode{
  background-color: rgb(33, 36, 42);
  color: rgb(255, 255, 255);
}
.peercallPage{
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex: 1;

}
.mainContent{ 
  background-color: rgb(238, 232, 221);
  height: 100%;
  position: relative;  
}
.darkMode .mainContent{
  background-color: rgb(33, 36, 42);
}
.title{
  padding: 5px;
  margin: 0; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 2px 5px 10px rgba(112, 112, 113, 0.395) ;
  z-index: 100;
} 
.darkMode .title{
  background-color: rgb(66, 72, 88);
}
.smallTitle{
    margin: 0;
    font-family: "Exo 2", "sans serif";
    font-size: 2.5rem;
    text-align: center;
    box-shadow: 2px 5px 10px rgba(112, 112, 113, 0.395) ;
} 
.darkMode .smallTitle{
  background-color: rgb(66, 72, 88);
}


.streams{
    padding: 80px 20px;
    min-width: 800px;
    max-width: 80%;
    height: 100%;
    margin-inline: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: peerStream20px; 
}
.streams video{
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.562);
    background-color: black;
}
.peerStream{
    padding: 10px;
    min-height: 50px;
    max-height: 600px;
    width: 100%;

    background-color: rgba(218, 214, 209, 0.734);
    border-radius: 10px;

}
.darkMode .peerStream{
  background-color: rgba(62, 64, 67, 0.556);
}
.peerStream video{
    width: 350px;
    aspect-ratio: 4 / 3;
}
.peerStream section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.peerStream section h3{
    width: 200px;
    border-radius: 10px;
    padding: 3px;
    
    text-align: center;
    background-color: rgba(255, 255, 255, 0.562);
    margin: 0;
}

.myStream{
    position: relative;
}
.myStream video{
    width: 200px;
    aspect-ratio: 4 / 3;
}

.myStream button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding: 1px;
}
.myStream button img{
    width: 100%;
}

.myStream button:nth-of-type(1){
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(110%);

}

.myStream button:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(110%,110%);
}


.activePeers{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(125, 135, 143, 0.49);
    border-radius: 10px;
    padding: 10px;

    transition: height .1s;
    &:hover{
        cursor: default;
        background-color: rgba(125, 135, 143, 0.39);

    }
}
.activePeers h2{
    margin: 0;
}
.activePeers hr{
    border-color: black;
}
.activePeers button{
    background-color: rgba(250, 235, 215, 0.35);
    padding: 5px;
}