.videochatPage{
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex: 1;
}
.title{
  padding: 5px;
  border-bottom: 1px solid;
  margin: 0; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}