.whiteboardPage{
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex: 1;
}
.title{
  padding: 5px;
  border-bottom: 1px solid;
  margin: 0; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.mainContent{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.whiteboardContainer{
  flex: 1;
  position: relative;
  display: flex; 
}
.whiteboardScrollable{
  flex: 1;
  position: relative;
  border: 3px solid red;
  overflow: hidden;
}
.clearButton{
  top: 0;
  right: 0;
  position: absolute;
}
.reverseButtons{
  position: absolute;
}
.canvasArea{ 
  background-color: rgb(191, 189, 189);

  position: absolute;
  padding: 50px;
} 
.canvasArea canvas{
  background-color: white;
  transform-origin: center;
}
.tools{
  border: 3px solid;
  padding: 10px 25px;
  background-color: rgb(131, 83, 69);
  border-radius: 20px;
  border: 4px solid;
  flex: 0 0 300px;
}
.tools h3{
  text-align: center;
  font-size: 2rem;
}
.modesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modesContainer button{
  width: 70px;
  height: 70px;
}
.colorsContainer{
}
.colors{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}
.color{
  border: 3px solid black;
  border-radius: 10%;
  width: 50px;
  height: 50px;

  &:hover{
    cursor: pointer;
    opacity: .8;
  }
} 
