.darkMode{
  background-color: rgb(29, 33, 40);
  color: rgb(255, 255, 255);
}

.whiteboardPage{
  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  &:focus{
    outline: none;
  }
}
.title{
  padding: 5px;
  border-bottom: 1px dotted black;
  box-shadow: 2px 5px 10px rgba(112, 112, 113, 0.395);

  margin: 0; 
  height: 100px;
  display: flex;
  justify-content: center; 
  align-items: end;
  z-index: 100;
}
.darkMode .title{
  background-color: rgb(66, 72, 88);
}

.mainContent{
  position: relative;
  flex: 1;
}
.whiteboardContainer{
  position: relative;
  height: 100%;
  display: flex; 
}

.whiteboardScrollable{
  flex: 1;
  position: relative;
  background-color: rgb(191, 189, 189);
  height: 100%;
  width: 100%; 
  /* padding: 50px; */
  overflow: hidden;
}
.darkMode .whiteboardScrollable{
  background-color: rgb(29, 33, 40);
}


.transformedCanvasView{
  background-color: white;
  transform-origin: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.selectArea{ 
  position: absolute;
  border: 1px dotted;
  pointer-events: none;
  opacity: .5;

  &.fixed{
    pointer-events: auto;
    animation: offsetDashes .5s linear infinite;
  }
}
.completeSelection{
  position: absolute;
  transform: translate(-50%, 1px);

  & button{
    border: none;
    &:hover{
      scale: .95;
    }

  }
  & button:nth-of-type(1){
    background-color: green;
  }
  & button:nth-of-type(2){
    background-color: rgb(180, 163, 163);
  }

}

.quickToolbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-inline: 10px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.quickToolbar img{
  width: 70%;
}
.quickToolbar span{
  flex: 1;
}
.quickToolbar button:nth-of-type(2){
  margin-right: 20px;
}
.quickToolbar span button{
  background-color: rgba(215, 210, 210, 0.233);
  margin-inline: 2px;
  width: 50px;
  height: 50px;
}
.quickToolbar button{
  border: none;
  border-radius: 10px;
  padding: 0;

  font-family: "Exo 2", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.quickToolbar > button{
  padding: 10px;
}
.quickToolbar button:hover{
  background-color: #dbd6d4;
}
.quickToolbar button:active{
  background-color: #a6a3a1;
  transform: scale(.96);
}

.tools{
  position: absolute;
  background-color: #5e4a40;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 270px;
  border-radius: 10px;
  box-shadow: 0 0 10px ;
  padding: 20px 20px 10px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tools span :first-child{
  position: absolute;
  top: 50%;
  right: 270px;
  transform: translate(0,-50%);
  opacity: .7;
}
.tools span :first-child:hover{
  opacity: 1;
}

.darkMode .tools{
  background-color: #3d2519;
}
.modesContainer{
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}

.modesContainer button{
  border: none;
  background-color: rgba(255, 255, 255, 0.156);
  width: 50px;
  height: 50px;
  &:hover{
    opacity: .8;
  }
}
.modesContainer img{
  width: 80%;
}
.modesContainer button.selected{
  background-color: transparent;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.333);
}
.specialTools button{
  padding: 0px;

}
.pixelInput{
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  position: relative;
  gap: 10px;
}

.pixelInput input:nth-of-type(2){
  width: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.pixelInput span{
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}
.colorsContainer, .colorQueue{
  padding: 10px 30px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}
.colorQueue{
  padding-block: 1px;
}
.color{
  border-radius: 10%;
  width: 20px;
  height: 20px;

  &:hover{
    cursor: pointer;
    opacity: .8;
  }
} 

.selectedColor{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100px;
  height: 100px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}
.selectedColor > *{
  position: absolute;
  bottom: 100%;
  left: 10px;
}

.separator{
  width: 80%;
  margin: auto;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.468);
  text-align: center;
}

.isImporting{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9c6b4;
  padding: 6px;
  border: 2px solid;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > span{
    font-size: 1.2rem;
    width: 200px;
    text-align: center;
    margin-bottom: 5px;
  }
  & section{
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: repeat(3, 40px);
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgb(95, 90, 90);
    border-radius: 5px;
  }
  & section span{ 
    height: 100%;
    width: 30px;
    height: 30px;
    border-radius: 5px;

    background-color: #fcfcfcaa;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      cursor: pointer;
      opacity: .95;
    }
    &.anchor{
      background-color: #0091ff;
    }
  }
  button{
    margin-top: 5px;
  }
}


.screenshotPreview{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
  height: 150px;

  border: 4px solid;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}
.screenshotPreview img{
  width: 100%;
  object-fit: cover;
}

.importErrorMsg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9c6b4;
  padding: 6px;
  border: 2px solid;
  border-radius: 5px;

  color: red;
  font-size: 1.5rem;
}


@keyframes offsetDashes{
  to{
    border: 3px dotted;
  }

}