html, body, #root{
  height: 100vh;
  margin: 0;
  font-size: 15px;
}

/* globals */
*{
  box-sizing: border-box;
}
button:hover{
  cursor: pointer;  
} 
textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}