@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Daruma";
  src: url("/fonts/DarumadropOne-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html, body, #root{
  height: 100vh;
  margin: 0;
  font-size: 13px;
}

/* globals */
*{
  box-sizing: border-box;
}
button:hover{
  cursor: pointer;  
} 
textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  user-select: none;
  -webkit-user-drag: none;
}
